<div class="container container-new">

    <div class="media">
        <div class="media-left" style="padding-right:2px">
            <a href="{{ site.github.url }}/">
              <img class="media-object image-responsive center-block" src="{{ site.github.url }}{{ site.data.constants.image_path }}banner2.png" alt="" style="max-height:65px;margin-top:10px;margin-bottom:5px">
            </a>
        </div>
        <div class="media-body">
          <p class="text-primary" style="margin-top:54px; margin-bottom:0px; margin-left:0px; font-size:18px; color:#159bac"><strong> Satranç</strong></p>
        </div>
        <div class="media-right">
            <a href="https://www.facebook.com/indigosatranccafe/" target="_blank">
                <img class="media-object" src="{{ site.github.url }}{{ site.data.constants.image_path }}FB-f-Logo__blue_50.png" alt="" style="max-height:40px;margin-top:15px">
            </a>
        </div>
    </div>

{% assign myfiles = site.static_files | sort: 'name' | reverse %}
{% assign turnuvaadi = "" %}

{%- for myfile in myfiles -%}

  {%- if myfile.path contains 'data/turnuvalar/' -%}

    {%- if site.data.turnuvalar[myfile.basename].turnuva-durum == 0 -%}
      {%- assign turnuvaadi = myfile.basename -%}
      {%- break -%}
    {%- endif -%}

  {%- endif -%}

{%- endfor -%}

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="{{ site.github.url }}/"><span class="glyphicon glyphicon-home"></span></a>
              {%- if turnuvaadi -%}
                <div class="visible-xs-block visible-sm-block faa-horizontal animated">
                  <p class="navbar-text navbar-left"><a href="{{ site.github.url }}/turnuvalar/{{ turnuvaadi }}/basvuru.html" class="navbar-link" style="color:#337ab7"> Turnuvaya Başvur <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></p>
                </div>
              {%- endif -%}
            </div>
            <div id="navbar" class="navbar-collapse collapse" style="font-size:15px">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.github.url }}/turnuvalar"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>  Turnuvalar</a></li>
                    <li><a href="{{ site.github.url }}/oyunlar"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  Oyunlar</a></li>
                    <li><a href="{{ site.github.url }}/dersler"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Dersler</a></li>
                    <li><a href="{{ site.github.url }}/sayfalar/satrancveyasam"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Satranç ve Yaşam</a></li>
                    <li><a href="{{ site.github.url }}/sss"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  S.S.S</a></li>
                    <li><a href="{{ site.github.url }}/iletisim"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  İletişim</a></li>
                </ul>
                {%- if turnuvaadi -%}
                  <div class="faa-horizontal animated">
                    <p class="navbar-text navbar-right"><a href="{{ site.github.url }}/turnuvalar/{{ turnuvaadi }}/basvuru" class="navbar-link" style="color:#337ab7">Turnuvaya Başvur <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a> </p>
                  </div>
                {%- endif -%}
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
