<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h3 class="panel-title">Sponsorlar</h3>
    </div>
    <div class="panel-body">
        <a href="http://www.mimartmimarlik.net/" target="_blank">
            <img src="{{ site.github.url }}{{ site.data.constants.image_path }}mimart.jpg" alt="" class="img-responsive center-block" style="margin-bottom:20px">
        </a>
        <a href="{{ site.github.url }}{% post_url 2013-12-13-selimiye-kiralik-ev %}">
            <img src="{{ site.github.url }}{{ site.data.constants.image_path }}selimiyelogoweb.jpg" alt="" class="img-responsive center-block" style="margin-bottom:20px">
        </a>
    </div>
</div>
