  {%- if dataname -%}
<div class="panel panel-default">
  <div class="panel-heading text-center">
    <h4 class="panel-title">Turnuva Bilgileri</h4>
  </div>
    <div class="panel-body" style="padding: 0px;">
        <ul class="nav nav-pills nav-stacked" id="myTabs">
            <li role="presentation" class="{% if filename == 'index' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span> Haberler</a></li>
            <li role="presentation" class="{% if filename == 'yonerge' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/yonerge"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Yönerge ve Program</a></li>
            {%- if pagedata.konaklama -%}
              <li role="presentation" class="{% if filename == 'konaklama' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/konaklama"><span class="glyphicon glyphicon-bed" aria-hidden="true"></span>  Konaklama</a></li>
            {%- endif -%}
            {%- if pagedata.turnuva-durum != 1 -%}
              <li role="presentation" class="{% if filename == 'basvuru' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/basvuru"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Başvuru</a></li>
              <li role="presentation" class="{% if filename == 'oyuncular' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/oyuncular"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Oyuncular</a></li>
            {%- endif -%}
            {%- if pagedata.turnuva-durum == 1 -%}
              <li role="presentation" class="{% if filename == 'sonuclar' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/sonuclar"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Sonuçlar</a></li>
            {%- if pagedata.oyunlar == 1 -%}
                <li role="presentation" class="{% if filename == 'oyunlar' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/oyunlar"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  Oyunlar</a></li>
            {%- endif -%}
              <li role="presentation" class="{% if filename == 'fotograflar' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}/fotograflar"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>  Fotoğraflar</a></li>
            {%- endif -%}
        </ul>
    </div>
</div>
  {%- endif -%}
